:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --icons-color: #afb1b8;
  --bg-color: #2f303a;
  --modal-icon-color: #212121;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms var(--cubic-bezier);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.4) rotate(360deg);
}

.section__title.feature-title {
  display: none;
}

.section-title.portfolio-title {
  display: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
  }
}

.button {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.button.primary-hero {
  padding: 10px 32px;
  border: 0px;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.button.filter__button-secondary-filter {
  margin-left: 8px;
  margin-bottom: 15px;
  padding: 6px 22px 6px 22px;
  border: 0px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;
  transition: color 250ms var(--cubic-bezier);
}
.logo:focus, .logo:hover {
  color: var(--accent-color);
}

.logo-secondary {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--primary-white-color);
  transition: color 250ms var(--cubic-bezier);
}
.logo-secondary:hover, .logo-secondary:focus {
  color: var(--accent-color);
}

.logo-accent {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-color);
  transition: color 250ms var(--cubic-bezier);
}
.logo-accent:focus {
  color: var(--accent-color);
}

.logo-blue {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-color);
}

.modal {
  position: absolute;
  max-width: 450px;
  max-height: 609px;
  top: 50%;
  left: 50%;
  z-index: 3;
  opacity: 1;
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  transition: opacity 250ms var(--cubic-bezier), transform 250ms var(--cubic-bezier);
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.modal__form .modal__close-button {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
}

.modal__close-button:hover {
  fill: var(--accent-color);
}

.modal__form {
  display: block;
  padding: 40px;
}

.modal__title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 12px;
  color: var(--primary-text-color);
}

label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.modal__field {
  position: relative;
}

.modal__icon {
  position: absolute;
  fill: var(--modal-icon-color);
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic-bezier);
}

.modal__field-input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: rgba(33, 33, 33, 0.2);
  transition: border 250ms var(--cubic-bezier);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__field-input:focus {
  outline-color: var(--accent-color);
}
.modal__field-input:hover {
  border-color: var(--accent-color);
}
.modal__field-input:focus + .modal__icon, .modal__field-input:hover + .modal__icon {
  fill: var(--accent-color);
}

.modal__field-input.comment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  font-size: 14px;
  color: var(--primary-text-color);
  resize: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__field-input.comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin: auto auto;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.modal__checkbox {
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal__checkbox .modal__checkbox-text {
  display: inline-flex;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.modal__checkbox-list {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.modal__checkbox-list:checked + .modal__checkbox-text .modal__icon-check {
  border: none;
  background-color: var(--accent-color);
  background-image: url(../images/vector.svg);
}

.modal__checkbox a {
  color: var(--accent-color);
}

.modal__icon-check {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  bottom: -3px;
  background-repeat: no-repeat;
  background-position: center;
  border-color: var(--primary-text-color);
}

.network {
  display: flex;
  justify-content: center;
}

.network__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icons-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.network__button:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.network li + li {
  margin-left: 10px;
}

.network__link:focus .network__button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.network__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  fill: currentColor;
}

.network-list.network--dark {
  display: flex;
  align-items: center;
  justify-content: center;
}

.network__icon.network--dark {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  fill: var(--primary-white-color);
}

.network-list.network--dark li + li {
  margin-left: 10px;
}

.network__button.network--dark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  transition: background-color 250ms var(--cubic-bezier);
}
.network__button.network--dark:hover {
  background-color: var(--accent-color);
}
.network__link.network--dark:focus .network__button.network--dark {
  background-color: var(--accent-color);
}

.page-header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.main-nav {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 768px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav {
    max-width: 1200px;
    justify-content: space-between;
  }
}

.site-nav.list {
  display: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .site-nav.list {
    max-width: 768px;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav.list {
    max-width: 1200px;
    margin-right: 92px;
  }
}

.site-nav {
  display: flex;
}
@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 92px;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  transition: color 250ms var(--cubic-bezier);
}
.site-nav .link:hover, .site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav__item .link.current {
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
}

.link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 120%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transform: translateY(1px);
}

.auth-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .auth-nav {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
}

.auth-nav .link {
  display: flex;
  align-items: center;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav__item .link {
  transition: color 250ms var(--cubic-bezier);
}
.auth-nav__item .link:hover, .auth-nav__item .link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .auth-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.auth-nav__link-svg {
  margin-right: 10px;
  fill: currentColor;
}

.burger-button {
  margin-left: auto;
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
}

.burger-button .icon-menu-close {
  display: none;
}

.burger-button.is-open .icon-menu-close {
  display: block;
}

.burger-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 48px 40px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}
.menu-container.is-open {
  display: block;
}

.burger-nav {
  text-align: start;
  margin-bottom: 302px;
}

.burger-nav__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
  color: #212121;
  transition: color 250ms var(--cubic-bezier);
}
.burger-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.burger-nav__link {
  text-decoration: none;
  color: #212121;
}

.burger-contacts {
  text-align: start;
}

.burger-contacts__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
  list-style: none;
}
.burger-contacts__item:first-child {
  margin-bottom: 32px;
}

.burger-contacts__link {
  text-decoration: none;
  color: #2196f3;
}

.burger-contacts__link-mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  list-style: none;
}

.burger-network {
  display: flex;
  margin-top: 64px;
}

.burger-social {
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  list-style: none;
  color: #2196f3;
}
.burger-social:not(:last-child) {
  margin-right: 10px;
}

.burger-social__link {
  text-decoration: none;
  color: #2196f3;
}

.line {
  width: 22px;
  height: 0px;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  background-color: var(--bg-color);
  text-align: center;
}

.hero__bg {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/mob/studio/header-mob.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__bg {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/mob/studio/header-mob@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero__bg {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/tablet/studio/header-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__bg {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/tablet/studio/header-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__bg {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/desktop/studio/header-desktop.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__bg {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/desktop/studio/header-desktop@2x.jpg");
  }
}

.container.hero__container {
  padding: 118px 60px;
}
@media screen and (min-width: 768px) {
  .container.hero__container {
    padding: 118px 204px;
  }
}
@media screen and (min-width: 1200px) {
  .container.hero__container {
    padding: 200px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.feature-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .feature-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.feature-list__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .feature-list__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .feature-list__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__item {
    max-width: 270px;
  }
}

.feature-list__item-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.feature-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .feature-list__title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__title {
    text-align: start;
  }
}

.feature-list__text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.section.work {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .section.work {
    display: block;
  }
}

.work-list {
  display: flex;
}

.work-list__item {
  position: relative;
}

.work-list__text {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-family: "" Roboto "", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.work-list__item:not(:last-child) {
  margin-right: 30px;
}

.section.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    flex-wrap: nowrap;
  }
}

.team-list__item {
  max-width: 450px;
  max-height: 622px;
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team-list__item {
    max-width: 354px;
    max-height: 536px;
  }
}

.team-list__name {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-list__title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list__text {
  margin-top: 0px;
  margin-bottom: 16px;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .clients-list {
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
  }
  .clients-list .clients-list li + li {
    margin-left: 30px;
  }
}

.clients-list__button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 210px;
  max-height: 92px;
  padding: 16px 52px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--icons-color);
  transition: color 250ms var(--cubic-bezier);
}
.clients-list__button:hover, .clients-list__button:focus {
  color: var(--accent-color);
  outline-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .clients-list__button {
    max-width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__button {
    max-width: 170px;
  }
}

.clients-list__image-svg {
  fill: currentColor;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
}
.page-footer__contacts {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .page-footer__contacts {
    text-align: start;
  }
}

.page-footer .container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .page-footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer .container {
    flex-wrap: nowrap;
    align-items: center;
  }
}

.page-footer__address {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  color: var(--primary-white-color);
  transition: color 250ms var(--cubic-bezier);
}
.page-footer__address:hover, .page-footer__address:focus {
  color: var(--accent-color);
}

.page-footer__link .link {
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms var(--cubic-bezier);
}
.page-footer__link .link:hover, .page-footer__link .link:focus {
  color: var(--accent-color);
}

.page-footer__network {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .page-footer__network {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__network {
    margin-left: 70px;
  }
}

.page-footer__title {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
}
@media screen and (min-width: 1200px) {
  .page-footer__title {
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__subscription {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__subscription {
    margin-left: 93px;
    margin-top: 0px;
  }
}

.page-footer__footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .page-footer__footer-form {
    flex-wrap: nowrap;
  }
}

.page-footer__footer-form label {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .page-footer__footer-form label {
    text-align: center;
  }
}

.page-footer__input-field {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .page-footer__input-field {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__input-field {
    margin-bottom: 0px;
    width: 358px;
  }
}

.page-footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}
@media screen and (min-width: 1200px) {
  .page-footer__button {
    margin-left: 12px;
  }
}

.page-footer__icon-send {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

.page-footer__input-field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.filter__button {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
  max-width: 326px;
}
@media screen and (min-width: 768px) {
  .filter__button {
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 100%;
  }
}

.filter__button button:hover,
.filter__button button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-examples {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .work-examples {
    flex-direction: row;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .work-examples {
    justify-content: space-around;
  }
}

.work-examples__card {
  max-width: 450px;
  margin-bottom: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .work-examples__card {
    max-width: 354px;
    height: 440px;
  }
}
@media screen and (min-width: 1200px) {
  .work-examples__card {
    max-width: 370px;
    height: 404px;
  }
}
@media screen and (min-width: 1200px) {
  .work-examples__card:nth-last-child(n) {
    margin-bottom: 0px;
  }
}
.work-examples__card:nth-child(3n) {
  margin-right: 0px;
}
.work-examples__card:hover, .work-examples__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-examples__card-image {
  position: relative;
  overflow: hidden;
  max-width: 450px;
  height: 294px;
}
@media screen and (min-width: 768px) {
  .work-examples__card-image {
    width: 354px;
  }
}

.work-examples__text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--cubic-bezier);
}
.work-examples__card:hover .work-examples__text-overlay {
  transform: translateY(0);
}
.work-examples__card .link:focus .work-examples__text-overlay {
  transform: translateY(0);
}

.work-examples__text {
  margin: 0px;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.work-examples__work-title {
  margin-bottom: 4px;
  margin-top: 0px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-examples__card-description {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}/*# sourceMappingURL=main.css.map */