.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;

  text-align: center;
  letter-spacing: 0.03em;

  color: #4b4b4b;

  @include desktop {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
  }
}
