.button {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  cursor: pointer;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.button.primary-hero {
  padding: 10px 32px;
  border: 0px;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.button.filter__button-secondary-filter {
  margin-left: 8px;
  margin-bottom: 15px;
  padding: 6px 22px 6px 22px;
  border: 0px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  color: var(--primary-text-color);
  background-color: #f5f4fa;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
