.modal {
  position: absolute;
  max-width: 450px;
  max-height: 609px;
  top: 50%;
  left: 50%;
  z-index: 3;
  opacity: 1;
  width: 528px;
  min-height: 581px;
  border-radius: 4px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  transition: opacity 250ms var(--cubic-bezier), transform 250ms var(--cubic-bezier);

  @include desktop {
    max-width: 528px;
    max-height: 581px;
  }
}

.modal__form .modal__close-button {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
}

.modal__close-button:hover {
  fill: var(--accent-color);
}

.modal__form {
  display: block;
  padding: 40px;
}

.modal__title {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 12px;

  color: var(--primary-text-color);
}

label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;

  color: #757575;
}

.modal__field {
  position: relative;
}

.modal__icon {
  position: absolute;
  fill: var(--modal-icon-color);
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms var(--cubic-bezier);
}

.modal__field-input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: rgba(33, 33, 33, 0.2);

  transition: border 250ms var(--cubic-bezier);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

  &:focus {
    outline-color: var(--accent-color);
  }

  &:hover {
    border-color: var(--accent-color);
  }

  &:focus + .modal__icon,
  &:hover + .modal__icon {
    fill: var(--accent-color);
  }
}

.modal__field-input.comment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  font-size: 14px;
  color: var(--primary-text-color);
  resize: none;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal__field-input.comment::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin: auto auto;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.modal__checkbox {
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal__checkbox .modal__checkbox-text {
  display: inline-flex;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.modal__checkbox-list {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.modal__checkbox-list:checked + .modal__checkbox-text .modal__icon-check {
  border: none;
  background-color: var(--accent-color);
  background-image: url(../images/vector.svg);
}

.modal__checkbox a {
  color: var(--accent-color);
}

.modal__icon-check {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  bottom: -3px;
  background-repeat: no-repeat;
  background-position: center;
  border-color: var(--primary-text-color);
}
