.network {
  display: flex;
  justify-content: center;
}

.network__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--icons-color);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);

  &:hover {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
  }
}

.network li + li {
  margin-left: 10px;
}

.network__link:focus .network__button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.network__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin-top: auto;
  margin-bottom: auto;

  fill: currentColor;
}

// footer network--dark

.network-list.network--dark {
  display: flex;
  align-items: center;
  justify-content: center;
}

.network__icon.network--dark {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin-top: auto;
  margin-bottom: auto;

  fill: white;

  &:hover {
    fill: var(--accent-color)
  }
}

.network-list.network--dark li + li {
  margin-left: 10px;
}

.network__button.network--dark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: var(--accent-color);
  color: var(--primary-white-color);

  transition: background-color 250ms var(--cubic-bezier);

  &:hover {
    background-color: white;
  }

  .network__link.network--dark:focus & {
    background-color: white;
  }
}
