.backdrop {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1;

  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 500ms var(--cubic-bezier);
}
