.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.4) rotate(360deg);
}

.section__title.feature-title {
  display: none;
}

.section-title.portfolio-title {
  display: none;
}
