// .section-title.about {
//   margin-bottom: 30px;
//   font-weight: 700;
//   font-size: 36px;
//   text-align: center;
//   color: #4b4b4b;
// }

.about-img {
  display: block;
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.about-text {
  max-width: 600px;
  padding: 10px;

  font-size: 14px;
  text-align: center;
}
