.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  @include tablet {
    justify-content: space-around;
  }

  @include desktop {
    flex-wrap: nowrap;
    .clients-list li + li {
      margin-left: 30px;
    }
  }
}

// .clients-list li + li {
//   margin-left: 30px;
// }

.clients-list__button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 210px;
  max-height: 92px;
  padding: 16px 52px;
  border: 1px solid currentColor;
  border-radius: 4px;

  color: var(--icons-color);

  transition: color 250ms var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--accent-color);
    outline-color: var(--accent-color);
  }

  @include tablet {
    max-width: 226px;
  }

  @include desktop {
    max-width: 170px;
  }
}

.clients-list__image-svg {
  fill: currentColor;
}
