.clients-list {
  display: flex;
}
.clients-list li + li {
  margin-left: 30px;
}

.clients-list__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid currentColor;
  border-radius: 4px;

  color: var(--icons-color);

  transition: color 250ms var(--cubic-bezier);

  &:hover,
  &:focus {
  color: var(--accent-color);
  outline-color: var(--accent-color);
  }
}

.clients-list__image-svg {
  fill: currentColor;
}
