.page-header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.main-nav {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 768px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include desktop {
    max-width: 1200px;
    justify-content: space-between;
  }
}

.site-nav.list {
  display: none;
  padding-top: 32px;
  padding-bottom: 32px;

  @include tablet {
    max-width: 768px;
    display: flex;
  }

  @include desktop {
    max-width: 1200px;
    margin-right: 92px;
  }
}

.site-nav {
  display: flex;

  @include desktop {
    margin-left: 92px;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-text-color);

  transition: color 250ms var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &.current {
    color: var(--accent-color);
  }
}

.site-nav__item .link.current {
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
}

.link.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 120%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);

  transform: translateY(1px);
}

.auth-nav {
  display: none;

  @include tablet {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @include desktop {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
}

.auth-nav .link {
  display: flex;
  align-items: center;
  color: var(--title-text-color);

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav__item .link {
  transition: color 250ms var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.auth-nav__item:not(:last-child) {
  @include desktop {
    margin-right: 50px;
  }
}

.auth-nav__link-svg {
  margin-right: 10px;
  fill: currentColor;
}

// burger menu

.burger-button {
  z-index: 3;
  margin-left: auto;
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;

  @include tablet {
    display: none;
  }
}

.burger-button:hover {
  fill: var(--accent-color);
}

.burger-button .icon-menu-close {
  display: none;
}

.burger-button.is-open .icon-menu-close {
  display: block;
}

.burger-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;

  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  &.is-open {
    display: block;
  }
}

.burger-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  padding: 48px 40px;
}

.burger-nav {
  text-align: start;
  // margin-bottom: 302px;
}

.burger-nav__item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;

  color: #212121;

  transition: color 250ms var(--cubic-bezier);

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.burger-nav__link {
  text-decoration: none;
  color: #212121;
}

.burger-nav__link.current {
  color: var(--accent-color);
}

.burger-contacts {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.burger-contacts__item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  text-decoration: none;

  list-style: none;
  &:first-child {
    margin-bottom: 32px;
  }

  @include mobile {
    font-size: 34px;
  }
}

.burger-contacts__link {
  text-decoration: none;
  color: var(--accent-color);
}

.burger-contacts__link-mail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: #757575;
  text-decoration: none;
  list-style: none;
}

// .burger-contacts__item:hover .burger-contacts__link {
//   color: var(--accent-color);
// }

.burger-network {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.burger-social {
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  list-style: none;
  padding-right: 10px;

  color: #2196f3;

  &:not(:last-child) {
    margin-right: 10px;
    border-right: 1px solid #21212133;
  }
}

.burger-social__link {
  text-decoration: none;

  color: #2196f3;
}
