.section.work {
  display: block;
  background: rgb(240, 250, 255);
  background: linear-gradient(
    360deg,
    rgba(240, 250, 255, 1) 0%,
    rgba(244, 251, 255, 1) 51%,
    rgba(244, 251, 255, 1) 100%
  );
}

.work-sibtitle {
  margin-top: 0;
  margin-bottom: 30px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 0.03em;

  color: #5d5d5d;

  @include mobile {
    font-size: 16px;
  }

  @include tablet {
  }
}

// .work-list {
//   display: grid;
//   grid-template-columns: 1fr;
//   gap: 20px;

//   @include mobile {
//     grid-template-columns: 1fr 1fr;
//   }

//   @include tablet {
//     gap: 30px;
//   }

//   @include desktop {
//     grid-template-columns: 1fr 1fr 1fr;
//     gap: 40px;
//   }
// }

.work-list__item {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: -1px 2px 12px -9px rgba(120, 120, 120, 1);

  transition: scale 350ms var(--cubic-bezier);
  transition: background-color 350ms ease-in-out;

  @include tablet {
    max-width: 350px;
    min-height: 320px;
  }
  @include desktop {
    min-height: 350px;
  }

  &:hover {
    background-color: var(--accent-color);
    scale: 1.02;
  }

  &:hover .work-list-icon {
    color: white;
  }

  &:hover .work-list__subtitle {
    color: white;
  }

  &:hover .work-list__text {
    color: white;
  }
}

.work-list-icon {
  color: var(--accent-color);
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
}

.work-list__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.61;
  text-align: center;

  color: var(--primary-text-color);

  @include tablet {
    font-size: 14px;
  }
}

.work-list__subtitle {
  margin-bottom: 10px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.71;
  line-height: 1.14;
  text-align: center;

  color: #2196f3;
}

// .work-list__item:not(:last-child) {
//   margin-right: 30px;
// }
