.section.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include desktop {
    flex-wrap: nowrap;
  }
}

.team-list__item {
  max-width: 450px;
  max-height: 622px;

  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @include tablet {
    max-width: 354px;
    max-height: 536px;
  }
}

// .team-list__item:not(:last-child) {
//   margin-right: 30px;
// }

.team-list__name {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;
}

.team-list__title {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list__text {
  margin-top: 0px;
  margin-bottom: 16px;

  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
}
