.filter__button {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
  max-width: 326px;

  @include tablet {
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 100%;
  }
}

.filter__button button:hover,
.filter__button button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-examples {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include tablet {
    flex-direction: row;
    gap: 30px;
  }

  @include desktop {
    justify-content: space-around;
  }
}

.work-examples__card {
  max-width: 450px;
  margin-bottom: 30px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    max-width: 354px;
    height: 440px;
  }

  @include desktop {
    max-width: 370px;
    height: 404px;
  }

  @include desktop {
    &:nth-last-child(n) {
      margin-bottom: 0px;
    }
  }

  &:nth-child(3n) {
    margin-right: 0px;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.work-examples__card-image {
  position: relative;
  overflow: hidden;
  max-width: 450px;
  height: 294px;

  @include tablet {
    width: 354px;
  }
}

.work-examples__text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;

  font-size: 18px;
  line-height: 1.55;

  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--cubic-bezier);

  .work-examples__card:hover & {
    transform: translateY(0);
  }

  .work-examples__card .link:focus & {
    transform: translateY(0);
  }
}

.work-examples__text {
  margin: 0px;

  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.work-examples__work-title {
  margin-bottom: 4px;
  margin-top: 0px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-examples__card-description {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}
